* {
    margin: 0;
    padding: 0;
    border: none;
}
section{

}
nav{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 58px;
    padding: 0 40px;
    margin: 0 100px;
}
.nav-items{
    display: flex;
    font-size: 10px;
    width: 500px;
}

.logo{
    display: flex;
    font-size: 20px;
    font-weight: 600;
}
.logoimg{
    width: 20px;
}

.logo p {
    margin-left: 5px;
}

.nav-content{
    font-size: 16px;
    list-style: none;
    display: flex;
    gap: 20px;
}